
*:focus{
  outline: none;
}

.hide {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
.image{
  margin: 0px;
  /*background-size: cover;*/
  background-repeat: no-repeat;
  height: 1024px;
  background-image: url("../../assets/images/field_hockey_sticks.jpg");
}

h1, h2{
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
  color: orange;
  text-align: center;
  border-radius: 4px;
  border-style: ridge;
  font-family: serif;
  text-shadow: 1px 1px white;
}

h1{
  font-size: 38px;
}

#reset{
  margin-top: 30px;
  background-color: orange;
  font-size: 14px;
  border-radius: 4px;
  font-weight: bold;
  text-shadow: 0.5px 0.5px white;
}

.left .right h2{
  margin-top: 25px;
  font-size: 18px;
  border-radius: 4px;
  font-weight: bold;
}

#teamone-shoot, #teamtwo-shoot{
  background-color: orange;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
  text-shadow: 0.5px 0.5px white;
}
